# Ignore executable files
*.out
*.app
*.exe
*.o

# Ignore IDEs files
/.idea
/cmake-build-debug
/.settings
/.cproject
/.project
/Debug

# Ignore CMake lists (It's different for Windows and Linux)
CMakeLists.txt
/lib/
